/* Fontes do projeto */

/* Bricolage Grotesque */
@font-face {
    font-family: "bricola-gegrotesque";
    src: url("../assets/fonts/BricolageGrotesque/bricolage-grotesque-latin-standard-normal.woff2") format("woff2");
    font-weight: 200 800;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: "Bricolage Grotesque";
    src: url("../assets/fonts/BricolageGrotesque/bricolage-grotesque-latin-standard-normal.woff2") format("woff2");
    font-weight: 200 800;
    font-style: normal;
    font-display: swap;
}

/* Atkinson Hyperlegible */
@font-face {
    font-family: "atkinson-hyperlegible";
    src: url("../assets/fonts/AtkinsonHyperlegible/atkinson-hyperlegible-latin-400-normal.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "atkinson-hyperlegible";
    src: url("../assets/fonts/AtkinsonHyperlegible/atkinson-hyperlegible-latin-700-normal.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Inter */
@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter/inter-latin-standard-normal.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

